<iframe src="front/pages/sink.html" name="sink"
        style="display:none"></iframe>

<div class="panel panel-default">
	<div class="panel-heading">Connexion</div>
	<div class="panel-body">
		<form name="loginForm"
			  action="front/pages/sink.html" target="sink" method="post"
			  ng-submit="login(credentials)"
			  novalidate form-autofill-fix>
			<div class="form-group">
				<div class="input-group">
				  <label for="username">Username:</label>
				  <input required class="form-control" type="text" id="username" placeholder="Username"
						 ng-model="credentials.username">
				</div>
				<div class="input-group">
				  <label for="password">Password:</label>
				  <input required class="form-control" type="password" id="password" placeholder="Password"
						 ng-model="credentials.password">
				</div>
			</div>
			<button class="btn btn-default navbar-btn" type="submit">Login</button>
			<div ng-show="message.libelle" class="alert {{message.type}}">{{message.libelle}}</div>
		</form>
	</div>
</div>