/* HEADER */
#header section {width: 24.5%; vertical-align: middle; line-height: 1; display: inline-block;}

.logo { text-align: center; background: url(../img/logo_endless.png) left -3px no-repeat; background-size: 20%; padding: 15px 0;}
.logo a { display: block;}
.siteName { font-size: 2em;font-family: 'Open Sans Condensed';text-transform: uppercase;font-weight: 700;}
.siteTitle { font-size: 0.7em; display: block;}

#searchForm { position: relative; text-align: right;}
#searchForm .inputText { width: 175px;height: 30px;background: #fff;border: solid 1px #C0C0C0;padding: 0 0 0 5px;font-size: 16px;color: #666;}
#searchForm .inputSubmit {width: 30px;height: 30px;background: none;color: #6F6F6F;box-shadow: 0 0 1px #585858;border: none;font-size: 0.9em;text-transform: uppercase;font-weight: bold;position: absolute;top: 1px;right: 0;cursor: pointer;}

.connectBox { text-align: center; font-family: 'Open Sans Condensed'; text-align: right;}
.login { display: inline-block; padding: 0 5px 0 0; border-right: solid 1px #333; color: #8a3232;}
.register { display: inline-block; color: #8a3232;}

#header .connected { font-size: 0.9em; text-align: left; margin: 0 0 0 30px;}
.connected .forumAvatar { float: left; max-width: 50px; padding: 0 15px 0 0;}
.userLogin { font-weight: bold; font-size: 1.1em; color: #333;}
.connected a:hover { text-decoration: underline;}
#zoneSaisieConnexion {
	background: #EDEDED;
	display: table;
	margin: 10px 0 0 47px;
	position: absolute;
	z-index: 9;
	padding: 10px;
	box-sizing: border-box;
	border: 1px solid #D0D0D0;
}
#formConnectEndless { width: 180px;}
#formConnectEndless input { background: #FFFFFF;
	border: 1px solid #CDCDCD;
	height: 30px;
	padding: 0 0 0 5px;
	width: 100%;
	display: inline-block;
	margin: 5px 0;
	font-size: 12px;
	box-sizing: border-box;
}
#formConnectEndless #connectEndless { border: none;
	background: none;
	cursor: pointer;
	line-height: 10px;
	font-size: 14px;
	display: inline-block;
	padding: 0;
	text-align: right;
	width: auto;
}
#formConnectEndless #connectEndless:hover { color: #8a3232;}
#formConnectEndless #encarConnexionErreur { color: red;
	font-size: 12px;
	font-family: arial;
	text-align: left;
}
