body {
    background: none repeat scroll 0% 0% rgb(241, 241, 241);
	font: 0.9em/1.4em arial,sans-serif;
	color: rgb(102, 102, 102);
	margin: 0px;
}

footer {
    background: none repeat scroll 0% 0% rgb(153, 153, 153);
    color: rgb(241, 241, 241);
    text-align: center;
    font-size: 0.8em;
    font-style: normal;
}

.drop-box {
    background: none repeat scroll 0% 0% rgb(248, 248, 248);
    border: 5px dashed rgb(221, 221, 221);
    width: 200px;
    height: 65px;
    text-align: center;
    padding-top: 35px;
}

.icone {
	width: 20px;
    height: 20px;
}

.ta-editor {
    min-height: 300px;
    height: auto;
    overflow: auto;
    font-family: inherit;
    font-size: 100%;
    margin:20px 0;
}