<table class='table'>
	<tr>
		<th>
			<a href='' ng-click="changeOrder('personnage.nom')">Joueur
			<span ng-if="orderTabASC && orderTab == 'personnage.nom'" class=" glyphicon glyphicon-sort-by-alphabet"></span>
			<span ng-if="!orderTabASC && orderTab == '-personnage.nom'" class="glyphicon glyphicon-sort-by-alphabet-alt"></span>
			</a>
		</th>
		<th><a href='' ng-click="changeOrder('statut.libelle')">Statut
			<span ng-if="orderTabASC && orderTab == 'statut.libelle'" class=" glyphicon glyphicon-sort-by-alphabet"></span>
			<span ng-if="!orderTabASC && orderTab == '-statut.libelle'" class="glyphicon glyphicon-sort-by-alphabet-alt"></span>
			</a>
		</th>
	</tr>
	<tr ng-repeat="participant in event.listParticipants | filtreStatut:filtreStatutTab | orderBy:orderTab" >
		<td>{{participant.personnage.nom}} ({{participant.user.login}})</td>
		<td>{{participant.statut.libelle}}</td>
	</tr>
</table>