<div class="panel panel-default">
	<div class="panel-heading">Liste des rôles</div>
	<div class="panel-body">
		<table class="table">
		<tbody>
			<tr>
				<th>Libellé</th>
				<th>Nombre maximum d'inscriptions</th>
				<th></th>
			</tr>
			<tr ng-repeat="role in event.listRoles">
				<td>{{role.libelle}}</td>
				<td>{{role.nbrVoulu}}</td>
				<td><a href="" ng-click="deleteRole(role)"><span class="glyphicon glyphicon-remove"></span></a></td>
			</tr>
		</table>
	</div>
	<div class='panel-footer'>
		<div class="input-group">
		<label for="roleToAddlbl">Libellé :</label>
		<input class="form-control" type="text" id="roleToAddlbl" name="roleToAddlbl" placeholder="tank, healeur ..."
			ng-model="roleToAddlbl" />
		</div>
		<div class="input-group">
		<label for="roleToAddNbr">Nombre maximum d'inscriptions pour ce rôle :</label>
		<input class="form-control" type="text" id="roleToAddNbr" name="roleToAddNbr" placeholder="0"
			ng-model="roleToAddNbr" />
		</div>
		<a href='' ng-click="ajouterRole(roleToAddlbl, roleToAddNbr)">
			<span class="glyphicon glyphicon-plus"></span> Ajouter un rôle
		</a> 
	</div>
</div>
<label for="lvlmin">Level minimum :</label>
	<input class="form-control" type="text" id="lvlmin" name="lvlmin" placeholder="1"
		ng-model="event.levelMin" />
<label for="lvlmax">level maximum :</label>
	<input class="form-control" type="text" id="lvlmax" name="lvlmax" placeholder="60"
		ng-model="event.levelMax" />
