<table class="table">
<tbody>
	<tr>
		<th>Nom</th>
		<th>Classe</th>
		<th>Race</th>
		<th>Niveau</th>
		<th></th>
		<th></th>
	</tr>
	<tr ng-repeat="perso in listePersos | filtrejeu : showPanel">
		<td>{{perso.nom}}</td>
		<td><img title="{{perso.classe.libelle}}" alt="{{perso.classe.libelle}}" class="icone" ng-src="{{perso.classe.iconPath}}"></td>
		<td><img title="{{perso.race.libelle}}" alt="{{perso.race.libelle}}" class="icone" ng-src="{{perso.race.iconPath}}"></td>
		<td>{{perso.level}}</td>
		<td><a href="#/profile/addPersonnage/{{perso.id}}"><img class="icone" src="/endlessraider/front/images/pictos/picto-edit.png"></a></td>
		<td><a href="#/profile" ng-click="deletePerso(perso.id)"><img class="icone" src="/endlessraider/front/images/pictos/picto-delete.png"></a></td>
	</tr>
</table>